@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, html, body{
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

body{
  background: $primary;
}

h1{
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
h2{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
h3{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
h4{
  font-size: 2.5rem;
  font-weight: 600;
}

p, b, button, a{
  font-size: 1.6rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div{
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

a{
  text-decoration: none;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.title{
  font-size: 5rem;
  color: $white;
}

.message-info{
  font-size: 3rem;
  color: $white;
  font-weight: 600;
}

.message-error{
  padding: 2rem 0;
  color: rgb(255, 94, 94);
  font-weight: 600;
  p{
    font-size: 1.8rem;
  }
}

.mr-2{
  margin-right: 2.5rem;
}