/* Colors */
$primary: #1E192E;
$green: #0CECDA;
$black: #1F1F20;
$gray: #372E4A;
$gray2: #82749c;
$white: #D2CFDC;

/* Paddings */
$p-1: 1rem;
$p-2: 6rem;

/* background: #8A2387;  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */